<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p><%= "New post was created at #{@resource.history.created_at}" %></p>
    <br />
    <br/>

    <p>Author: <%= @resource.author %></p>
    <br/>

    <p>Subject: New post notification.</p>
    <br/>
  </body>
</html>
